<footer class=" text-center ">
    <div class="container p-4">
      <section class="mb-4">
        <a class="btn default btn-floating m-1" href="https://www.facebook.com/arsham.arshamrgh" target="_blank"" role="button"><i class="fab fa-facebook-f"></i></a>
        <a class="btn default btn-floating m-1" href="http://twitter.com/ArshamRgh" role="button"><i class="fab fa-twitter"></i></a>
        <a class="btn default btn-floating m-1" href="http://instagram.com/_u/_arsham.rgh_/" role="button"><i class="fab fa-instagram"></i></a>
        <a class="btn default btn-floating m-1" href="http://linkedin.com/in/arsham-rgh-982aab247" role="button"><i class="fab fa-linkedin-in"></i></a>
        <a class="btn default btn-floating m-1" href="https://github.com/arshamam" role="button"><i class="fab fa-github"></i></a>
      </section>
      <section style="padding: 0 125px 0 0">
        <form action="">
          <div class="row d-flex justify-content-center">
            <div class="col-auto">
              <p class="pt-2">
                <strong style="font-weight:300;">Sign up for our newsletter &#129322:</strong>
              </p>
            </div>
            <div class="col-md-5 col-12">
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example21" class="form-control" placeholder="Surly there isn't any newsletter here &#128514 "/>
                <label style="padding:35px 0 0 0 ;" class="form-label" for="form5Example21">arshamrezagholian1384@gmail.com</label>
              </div>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn default mb-4">
                Subscribe
              </button>
            </div>
          </div>
        </form>
      </section>
      <section class="mb-4">
        <p>whatever you want but there is nothing &#129322 : </p>
      </section>
      <section class="">
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">somethings</a>
              </li>
              <li>
                <a href="#!" class="text-white">somethings</a>
              </li>
              <li>
                <a href="#!" class="text-white">somethings</a>
              </li>
              <li>
                <a href="#!" class="text-white">somethings</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">somethings</a>
              </li>
              <li>
                <a href="#!" class="text-white">somethings</a>
              </li>
              <li>
                <a href="#!" class="text-white">somethings</a>
              </li>
              <li>
                <a href="#!" class="text-white">somethings</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">somethings</a>
              </li>
              <li>
                <a href="#!" class="text-white">somethings</a>
              </li>
              <li>
                <a href="#!" class="text-white">somethings</a>
              </li>
              <li>
                <a href="#!" class="text-white">somethings</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">somethings</a>
              </li>
              <li>
                <a href="#!" class="text-white">somethings</a>
              </li>
              <li>
                <a href="#!" class="text-white">somethings</a>
              </li>
              <li>
                <a href="#!" class="text-white">somethings</a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </footer>
  <p class="text-center" style="color:grey ;"> © 2021 Copyright Arsham </p>
  </html>