<%- include ("partials/header.ejs") -%>

    <h1 class="text-center" style="padding-bottom:20px ;">Hi I am Arsham Rezagholian,</h1>
    <h1 class="text-center">This is my site and I am very happy to see you here &#128519</h1>
    <article>
        <h3 class="complain" style="text-align: center ;"> So lets complain myself for you </h3>
    </article>
</div>
    <article class="text-center about" style="padding-top: 70px;">
      <h2 class="title">About where am I leaving!</h2>
      <h4 class="title">
        I am Iranian &#127470;&#127479;, and I am leaving in capital of Iran Tehran.
      </h4>
    </article>
    <hr>
    <article class="text-center about">
      <h2 class="title">About why I am here.</h2>
      <h4 class="title">
         because I love to build something and with coding I can easily make what I want so I came to programing and I love to continue very much .
      </h4>
    </article>
    <hr>
    <article class="text-center about">
      <h2 class="title">About what is my job?</h2>
      <h4 class="title">
        I am full stack developer but I professionally work as front-end developer.
      </h4>
    </article>
    <hr>
    <article class="text-center about">
      <h2 class="title">About what I will do in future!</h2>
      <h4 class="title">
        In the future I'm trying to work in a good place so I can improve my knowledge and my experience.
      </h4>
    </article>
</body>

<%- include ("partials/footer.ejs") -%>