<%- include ("partials/header.ejs") -%>
<h3 class="headcontact text-center">You can easily contact me with facebook, instagram, twitter, linkedin and github &#128640</h3>
</div>
<div>
    <h4 class="contact">Phone Number : +98 9912 808 004</h4>
    <p  class="contact">and for more go down you can find them there <strong>&#128071</strong></p>
</div>
<%- include ("partials/footer.ejs") -%>